In [9]:
import ufo_sightings
import pandas as pd
sighting = ufo_sightings.get_sighting()
df = pd.DataFrame(sighting)
df.head()

,Location,Data,Dates,Date
0,"{'City': 'anchor point', 'State': 'AK', 'Count...","{'Shape': 'disk', 'Encounter duration': 300.0,...","{'Sighted': {'Year': 2005, 'Month': 5, 'Hour':...",{'Sighted': {'Day': 24}}
1,"{'City': 'anchorage', 'State': 'AK', 'Country'...","{'Shape': 'changing', 'Encounter duration': 21...","{'Sighted': {'Year': 2000, 'Month': 12, 'Hour'...",{'Sighted': {'Day': 31}}
2,"{'City': 'anchorage', 'State': 'AK', 'Country'...","{'Shape': 'changing', 'Encounter duration': 60...","{'Sighted': {'Year': 2006, 'Month': 10, 'Hour'...",{'Sighted': {'Day': 23}}
3,"{'City': 'anchorage', 'State': 'AK', 'Country'...","{'Shape': 'cigar', 'Encounter duration': 15.0,...","{'Sighted': {'Year': 2014, 'Month': 3, 'Hour':...",{'Sighted': {'Day': 29}}
4,"{'City': 'anchorage', 'State': 'AK', 'Country'...","{'Shape': 'circle', 'Encounter duration': 300....","{'Sighted': {'Year': 2011, 'Month': 10, 'Hour'...",{'Sighted': {'Day': 21}}

In [7]:
df.iloc[0]['Location']

{'City': 'anchor point',
 'State': 'AK',
 'Country': 'US',
 'Coordinates': {'Latitude ': 59.7766667, 'Longitude ': -151.8313889}}

In [8]:
df.iloc[0]['Data']

{'Shape': 'disk',
 'Encounter duration': 300.0,
 'Description excerpt': 'Large UFO over Mt. ILIAMNA Alaska.  ((NUFORC Note:  Possible contrail behind a high-altitude jet??  PD))'}

In [10]:
df.iloc[0]['Dates']

{'Sighted': {'Year': 2005, 'Month': 5, 'Hour': 18, 'Minute': 30},
 'Documented': {'Year': 2005, 'Month': 5, 'Day': 28}}

In [11]:
df.iloc[0]['Date']

{'Sighted': {'Day': 24}}

In [12]:
df.size

242528

In [13]:
num_rows = df.shape[0]
num_rows

60632

In [14]:
missing_values = df.isnull().sum()
print(missing_values)

Location    0
Data        0
Dates       0
Date        0
dtype: int64